<%= form_with model: @recipe_food do |form| %>
  <% if @recipe_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>
      <ul>
        <% @recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @recipe.user_id == current_user.id %>
    <div class="field">
      <p>食材を追加</p>
      <%= form.text_field :contents %>
    </div>

    <div class="field">
      <p>量</p>
      <%= form.text_field :quantity %>
    </div>

    <%= form.hidden_field :recipe_id, value:@recipe.id %>

    <div class="actions">
      <%= form.submit ("追加") %>
    </div>
  <% end %>
<% end %>
