<p id="notice"><%= notice %></p>

<h1>レシピ一覧</h1>

<table>
  <thead>
    <tr>
      <th>レシピ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to '詳細を見る', recipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'レシピを登録する', new_recipe_path %>
<%= link_to '自宅にある食材を見る', foods_path %>
