<h2>検索結果は<%= @search_recipes_count %>件です</h2>
<% @search_recipes.each_with_index do |recipe,i| %>
  <table>
    <tr>
      <td class="recipe_index"><%= i + 1 %>．</td>
      <td><%= link_to "#{recipe.name}", recipe, class:"recipe_detail" %>
    </tr>
  </table>
<% end %>
<br>
<%= link_to '新しいレシピを登録する', new_recipe_path, class:"new_recipe" %><br>
<%= link_to 'Back', :back, class:"back" %>
