<h2>検索結果は<%= @search_recipes_count %>件です</h2>
<% @search_recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= link_to '詳細を見る', recipe %></td>
  </tr><br>
<% end %>
<br>
<%= link_to '新しいレシピを登録する', new_recipe_path %>
<%= link_to 'すべてのレシピを見る', recipes_path %>
<%= link_to 'Back', :back %>
