<p id="notice"><%= notice %></p>

<p>
  <strong>レシピ名</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<%= render partial: "recipe_foods", collection: @recipe_foods %>
<%= render "add_contents" %>
<%= render "recipe_process" %>
<%= render "add_step" %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
