<p id="notice"><%= notice %></p>

<p>
  <strong>レシピ名</strong>
  <%= @recipe.name %>
  <% if @recipe.user_id == current_user.id %>
    <%= link_to 'レシピ名を編集する', edit_recipe_path(@recipe) %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<%= render "recipe_foods" %>
<%= render "add_contents" %>
<%= render "recipe_process" %>
<%= render "add_step" %>

<% if @recipe.user_id == current_user.id %>
  <%= link_to 'このレシピを削除する', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %><br>
<%= link_to 'レシピ一覧に戻る', recipes_path %>
