<p id="notice"><%= notice %></p>

<h1>Processes</h1>

<table>
  <thead>
    <tr>
      <th>Step</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processes.each do |process| %>
      <tr>
        <td><%= process.step %></td>
        <td><%= process.recipe_id %></td>
        <td><%= link_to 'Show', process %></td>
        <td><%= link_to 'Edit', edit_process_path(process) %></td>
        <td><%= link_to 'Destroy', process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process', new_process_path %>
