<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @process.step %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @process.recipe_id %>
</p>

<%= link_to 'Edit', edit_process_path(@process) %> |
<%= link_to 'Back', processes_path %>
