<p id="notice"><%= notice %></p>

<h1 class="foods_title">登録した食材一覧</h1>

<table class="foods_all">
  <thead>
    <tr>
      <th class="item3">食材名</th>
      <th class="item3">賞味期限</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td class="food_name "><%= food.name %></td>
        <td class="expiry_date item1"><%= food.expiry_date %></td>
        <% if (food.expiry_date - Date.current).to_i > 0 %>
          <td class="item1 alert1">賞味期限まであと<span class="alert1_1"><%= (food.expiry_date - Date.current).to_i %></span>日です</td>
        <% elsif (food.expiry_date - Date.current).to_i == 0 %>
          <td class="item1 alert2">本日賞味期限です</td>
        <% else %>
          <td class="item1 alert3">賞味期限から<%= (Date.current - food.expiry_date).to_i %>日過ぎています</td>
        <% end %>
        <td ><%= link_to '詳細を見る', food, class: "item1 item2" %></td>
        <td><%= link_to '編集する', edit_food_path(food), class: "item1 item2" %></td>
        <td><%= link_to '削除する', food, method: :delete, data: { confirm: '本当に削除しますか?' }, class: "item1 item2" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新しい食材を登録する', new_food_path, class: "new_food" %><br>
