<div class="title_background">
  <% if user_signed_in? %>
    <ul class="icon_flex">
      <li><%= render 'shared/search' %></li>
      <li><%= link_to "登録した食材一覧を見る", foods_path(current_user.id), class: "foods" %></li><br>
      <li><%= link_to "#{current_user.name}",home_index_path, class: "user_name" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"%></li>
    </ul>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class: "logout new_user" %><br>
    <%= link_to "ログイン", new_user_session_path, class: "logout login_user" %>
  <% end %>
</div>
